<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
        <title>Machine</title>
          <link href="index.css" rel="stylesheet"/>
    </head>
    <body>








      <script src="index.js" type="text/JavaScript"</script>
    </body>
  </html>
